<html ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<body>
<div class="container" ng-controller="SimpleController">
    <h3>Adding a Simple Controller</h3>
    <ul>
        <li ng-repeat="cust in customers">
            {{ cust.name }} - {{ cust.city }}
        </li>
    </ul>
    <h4> Partners</h4>
    <ul>
        <li ng-repeat="part in partners">
            {{part.name}} - {{part.city}}
        </li>
    </ul>
</div>
<script>
    var myApp = angular.module("myApp", []);
    myApp.controller('SimpleController', function($scope) {
        $scope.customers = [
            { name: 'Anuj Malik', city: 'Bengaluru' },
            { name: 'Deepak Kumar', city: 'Mumbai' }];
        $scope.partners=[
            {name:'Mr. Ravi', city:'Bengaluru'},
            {name:'Mr. Akhil',city:'Bengaluru'}];
    });
</script>
</body>
</html>

<!-- Exercise: Add partners array to scope and view -->